html, body {
  background-color: white;
}

#frame-size {
  height: 500px;
}

.favicon {
  height: 16px;
  width: 16px;
}

.icon-col {
  width: 25px;
}


.banner {
  margin-top: 40px;
}

#gear-icon {
  margin-top: 6px;
  margin-right: 16px;
  float: right;
}



.pointer-img {
  cursor: pointer;
}

#menu-view {
  text-align: left;
  font-size: 20px;
  padding-left: 8px;
}

.menu-link {
  font-size: 12px;
}

.filter-list {
  list-style-type: none;
}

#menu {
  top: 0px;
  left: 0px;
}

#options-subheader > div.md-subheader-inner{
  padding: 5px;
}

md-slider {
  cursor: pointer;
}

#add-to-filter {
  margin-top: 0;
}

.help-icon {
  cursor: pointer;
}

.sl-compress {
  padding-top: 0;
  padding-bottom: 0;
}
.compress {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

#compress-left {
  padding-left: 8px;
}

.site-table {
  padding-top: 0;
}

.time-header {
  float: right;
}

.md-subheader .md-subheader-inner {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.subheader-icon {
  font-size: 18px;
  height: 20px;
  width: 20px;
  min-height: 18px;
  min-width: 18px;
}

.download-button:focus {
  outline: none;
}


