<!DOCTYPE html>
<html lang='en' ng-app='myApp' ng-csp>
<head>
  <meta charset='UTF-8'>
  <title>Time Tracker</title>
  <script src='../js/lib/jquery-3.1.0.min.js'></script>
  <script src='../js/lib/bootstrap.min.js'></script>
  <script src='../js/lib/dexie.min.js'></script>
  <script src='../js/lib/angular.min.js'></script>
  <script src='../js/controllers.js'></script>
  <script src='../js/services.js'></script>
  <link rel='stylesheet' href='../style/bootstrap.min.css'>
  <link rel='stylesheet' href='../style/style.css'>
</head>
<body id='frame-size' ng-controller='template'>
<div class='container-fluid'>
  <div class='col-xs-11'>
    <table class='table table-condensed table-hover'>
      <thead>
      <tr>
        <th>Site</th>
        <th>Time</th>
        <th>Percent</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>www.google.com</td>
        <td>3:42</td>
        <td>12.34</td>
      </tr>
      <tr>
        <td>www.google.com</td>
        <td>3:42</td>
        <td>12.34</td>
      </tr>
      <tr>
        <td>www.google.com</td>
        <td>3:42</td>
        <td>12.34</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>