<!DOCTYPE html>
<html lang='en' ng-app='myApp' ng-csp>
<head>
  <meta charset='UTF-8'>
  <title>Time Tracker</title>
  <link rel='stylesheet' href='../style/drawer.min.css'>
  <script src='../js/lib/jquery.min.js'></script>
  <script src='../js/lib/bootstrap.min.js'></script>
  <script src='../js/lib/dexie.min.js'></script>
  <script src='../js/lib/drawer.min.js'></script>
  <script src='../js/lib/iscroll.min.js'></script>
  <script src='../js/lib/angular.min.js'></script>
  <script src='../js/lib/angular-route.min.js'></script>
  <script src='../js/controllers.js'></script>
  <script src='../js/services.js'></script>
  <link rel='stylesheet' href='../style/bootstrap.min.css'>
  <link rel='stylesheet' href='../style/style.css'>
</head>
<body class='drawer drawer--left' ng-controller='navigator' ng-cloak id='frame-size'>
<header id='header'>
  <button type='button' class='drawer-toggle drawer-hamburger' id='menu-button'>
    <span class='drawer-hamburger-icon' id='icon'></span>
  </button>
  <nav class='drawer-nav' role='navigation'>
    <ul class='drawer-menu'>
      <li id='menu-view'>View</li>
      <li><a ng-click="close()" class='drawer-menu-item menu-link' href='#/'>Today</a></li>
      <li><a ng-click="close()" class='drawer-menu-item menu-link' href='#/week'>Week</a></li>
      <li><a ng-click="close()" class='drawer-menu-item menu-link' href='#/all'>All Time</a></li>
    </ul>
  </nav>
  <a class='pointer-img' id='gear-icon' href='#/options'><img src='/img/options.png' width='16px' height='16px'></a>
</header>
<div ng-view></div>
</body>
</html>